@using CKEditor.Blazor.Components

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/" />
        <link href="_content/CKEditor.Demo.RCL/app.min.css" rel="stylesheet" />
        <HeadContent>
            <CKEditorCloudAssets Preset="default" EmitImportMap="true" />
            <script type="module" src="_content/CKEditor.Blazor/ckeditor5-blazor/index.mjs"></script>
        </HeadContent>
        <HeadOutlet />
    </head>

    <body>
        <Routes />
        <script src="_framework/blazor.web.js"></script>
    </body>
</html>
